@use '../partials/colors';
@use '../partials/mixins';

.contact-section {
  // background-color: colors.$bark-brown;
  // color: colors.$foggy-light;

  @include mixins.colors(colors.$bark-brown, colors.$foggy-light);
  @include mixins.flex(column);
  align-items: center;
  gap: 3em;

  .form {
    @include mixins.flex(column);
    align-items: center;
    gap: 1em;
    min-width: 60%;
    input,
    textarea {
      // color: colors.$bark-brown;
      // background-color: colors.$foggy-light;
      @include mixins.colors(colors.$foggy-light, colors.$bark-brown);

      border: none;
      border-radius: 5px;
    }

    .field {
      @include mixins.flex;
      gap: 2em;
      width: 100%;
    }

    .field__vertical {
      flex-direction: column;
      gap: 1em;
    }
  }

  button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: colors.$shadow-green;
    color: colors.$foggy-light;
    &:hover {
      transform: scale(1.1);
      background-color: colors.$deep-forest;
    }
  }
}
