@use './scss/partials/normalize';
@use './scss/partials/mixins';
@use './scss/sections/header';
@use './scss/sections/about';
@use './scss/sections/contact';

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
p {
  font-family: Arial, Helvetica, sans-serif;
}
.main-section {
  @include mixins.full-screen;
  padding: 1em;
}

.sub-heading {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
